html{
    scroll-behavior: smooth;
}


body{
  background-color: #122166;
  font-size: 18px;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: white; 
}

h2{
  font-size: 32px;
  line-height: 1.5;
  color:black;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; 
  top: -40px;     
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

}

/* referenced homework 4 SI 339 */

.skip a:focus, .skip a:active{
  border: 2px solid black; 
  left: auto; 
  top: auto; 

  height: auto; 
  overflow: auto; 
  margin: 40px; 
  padding: 6px; 
  z-index: 999; 
} 

footer{
  
  background-color: #ffd700;
  color:#3D424D;
  grid-column: 1 / -1;  
  grid-row: 7 / auto;   
  padding-top: 15px;
  padding-bottom: 15px; 
  text-align: center;
  
}

.about-container{
  display: grid; 
  grid-template-columns: 1fr 5fr 1fr; 
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-column-gap: 0px; 
  row-gap: 15px; 
  width: 100vw; 
}

.index-container{
  display: grid; 
  grid-template-columns: 1fr 5fr 1fr; 
  grid-template-rows: 30px auto auto auto auto auto auto auto auto auto auto 100px;
  grid-column-gap: 0px; 
  row-gap: 15px; 
  width: 100vw; 
}

/* .h2 {
  grid-column: 2/ span 1;  
  grid-row: 3/ span 1;
  color: white; 
} */

.schedule-container{
  display: grid; 
  grid-template-columns: 1fr 5fr 1fr; 
  grid-template-rows: 30px auto auto auto auto auto auto 100px;
  grid-column-gap: 0px; 
  row-gap: 15px; 
  width: 100vw;
}
 
.contact-container{
  display: grid; 
  /* display: inline-block;  */
  grid-template-columns: 1fr 5fr 1fr; 
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-column-gap: 0px; 
  row-gap: 15px; 
  width: 100vw;
}

.form{
  grid-column: 2/ span 1;  
  grid-row: 5/ auto;
  color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  /* color: white;  */
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* contact stuff */
input[type=submit] {
  background-color: #ffd700;
  color: #3D424D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffd700;
}

.container {
  border-radius: 5px;
  background-color: #3D424D;
  padding: 20px;

}
/*end contact stuff*/ 



.flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffd700;
  padding: 20px 20px;
  /* text-align: right; */
  /* justify-content: flex-end; */
}
.flex-container div{
  justify-content: flex-end;
}

.flex-container ul{
  list-style-type: none;
  margin: 0; 
  padding-right: 20px; 
}

.flex-container li{
  display: inline; 
  padding-right: 20px; 
}
.flex-container a{
  color: #3D424D;
  font-weight: bold;
  text-decoration: none;  
}
.flex-container a:hover{
  text-decoration: underline;  /*add the underline when hover*/
}
.flex-container a.active-link{
  background-color: #153F7E;  /*add the bg color when active, referenced from stack overflow*/
  color: white; 
}

.flex-container a:focus{
  border: 2px solid #6C7A89; 
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../img/photo-1557561371-160934834af4.jpeg");  /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  /* color: white; */
  height: 400px;                /* Parallax effect */
  grid-column: 1/ -1; 
  grid-row: 2/ span 1;

}
/* referenced hw 4 SI 339 */

  
.index-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000;
}


.index-h1 {
  position: relative;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, white, #fff, white);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/*end animation*/
/* reference for animation css link: https://codepen.io/FrankieDoodie/pen/dgVGad*/


header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

img {
  min-width: 100px; 
  height: 500px;
  overflow: hidden; 
  align-content: center;
}

.current-image {
  grid-column: 2/ span 1; 
  grid-row: 3/ span 1; 
}

.past-image{
  grid-column: 2/ span 1; 
  grid-row: 5/ span 1; 
  width: 100%;
  height: auto;
  overflow: hidden; 
}
.womens-image{
  grid-column: 2/ span 1; 
  grid-row: 5/ span 1; 
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mens-image{
  grid-column: 2/ span 1; 
  grid-row: 7/ span 1; 
  width: 100%;
  height: auto;
  overflow: scroll;
}
.tennis-ball-image{
  grid-column: 2/ span 1; 
  grid-row: 9/ span 1; 
  width: 100%;
  height: auto;
  overflow: scroll;
}
.winners-image{
  grid-column: 2/ span 1; 
  grid-row: 10/ span 1; 
  width: 100%;
  height: auto;
  overflow: scroll;
}
.champs-image{
  grid-column: 2/ span 1; 
  grid-row: 11/ span 1; 
  width: 100%;
  height: auto;
  overflow: scroll;
}



.text-block{ 

 row-gap: 15px;
 background-color: rgba(255, 255, 255, .8);
 border: 10px solid white;
 padding: 30px 30px 30px 30px;
 overflow: hidden; 
 justify-self: center; 
 align-self: center;

}

.practice{
  grid-column: 2/ span 1;  
  grid-row: 3/ span 1;
}

.trips{
  grid-column: 2/ span 1;  
  grid-row: 4/ span 1;
}

.matches{
  grid-column: 2/ span 1;  
  grid-row: 5/ span 1;
}

.womens{
  grid-column: 2/ span 1;  
  grid-row: 4/ span 1;
}

.mens{
  grid-column: 2/ span 1;  
  grid-row: 6/ span 1;
}

.format{
  grid-column: 2/ span 1;  
  grid-row: 8/ span 1;
}

.current{
  grid-column: 2/ span 1;  
  grid-row: 2/ span 1;
}

.past{
  grid-column: 2/ span 1;  
  grid-row: 4/ span 1;
}

.roster{
  grid-column: 2/ span 1;  
  grid-row: 6/ span 1;
}




/*gallery*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 4px, 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*tablet media query*/
@media only screen and (min-width: 768px) {
  .flex-container{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*desktop media query*/
@media only screen and (min-width: 1200px) {

  /* .flex-container{
    flex-direction: row;
    justify-content: space-evenly;
  } */
  .about-container{
    grid-template-rows: 400px 400px 400px 100px; 
    grid-template-columns: 50px 410px 500px 410px 50px; 
    row-gap: 50px;
  }
  .schedule-container{
    grid-template-rows: 70px 400px 400px 100px 400px 400px 400px 100px; 
    grid-template-columns: 50px 410px 500px 410px 50px; 
  }
  .index-container{
    grid-template-rows: 70px 400px 400px 400px 100px 400px 100px; 
    grid-template-columns: 50px 410px 500px 410px 50px;
  }

  img {
    min-width: 100px; 
    height: 400px;
    overflow: hidden; 
    align-content: right;
  }

  .current-image{
    grid-column: -3/ span 2; 
    grid-row: 2/ span 1; 
  }
  .past-image{
    grid-column: 2/ span 1; 
    grid-row: 3/ span 1; 
    max-width: 400px;
  }
  .womens-image{
    grid-column: -3/ span 1; 
    grid-row: 2/ span 1; 
    /* width: 100%; */
    /* height: auto;
    overflow: scroll; */
  }
  .mens-image{
    grid-column: 2/ span 1; 
    grid-row: 3/ span 1; 
  }
  .tennis-ball-image{
    grid-column: -3/ span 1; 
    grid-row: 4/ span 1; 
  }
  .winners-image{
    grid-column: 2/ span 1; 
    grid-row: 6/ span 1; 
  }
  .champs-image{
    grid-column: 4/ span 1; 
    grid-row: 6/ span 1; 
  }

  .text-block{
    padding: 50px 50px 50px 50px;
  }

  .current {
    grid-column: 2/ span 2;  
    grid-row: 2/ span 1;
  }
  .past {
    grid-column: 3/ span 2;  
    grid-row: 3/ span 1;
  }
  .roster{
    grid-column: 3/ span 1;  
    grid-row: 6/ span 1;
  }
  .practice{
    grid-column: 2/ span 2;  
    grid-row: 1/ span 1;
  }
  .trips{
    grid-column: 3/ span 2;  
    grid-row: 2/ span 1;
  }
  .matches{
    grid-column: 2/ span 2;  
    grid-row: 3/ span 1;
  }
  .womens{
    grid-column: 2/ span 2;  
    grid-row: 2/ span 1;
  }
  .mens{
    grid-column: 3/ span 2;  
    grid-row: 3/ span 1;
  }
  .format{
    grid-column: 2/ span 2;  
    grid-row: 4/ span 1;
  }


}/*end desktop media query*/



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.flip-card {
  background-color: transparent;
  min-width: 100px;
  height: 200px;
  border: 5px solid #f1f1f1;
  perspective: 1000px; /* 3D effect */
  transition: transform 3s; 
  overflow: hidden; 
}

/* position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
}

/* horizontal flip when hover -- add focus style */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* back side */
.flip-card-back {
  background-color:  #1460AA;
  color: white;
  font-size: 14px; 
  transform: rotateY(180deg);
  padding-top: 40px;      
}
/* referenced from w3 schools */
 /*end media query*/ 






/*reduced motion media query - referenced from hw 4 SI 339*/
@media screen and (prefers-reduced-motion: reduce){ */
  html{
    scroll-behavior: auto; /*Removes scroll animation*/
    animation: none; 
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;   /*Your code here - set to default setting*/
    transition: none !important;  /*Your code here - set to default setting*/
    z-index: 1;
  }

  .index-h1 {
    position: relative;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 4px;
    /* overflow: hidden; */
    background: linear-gradient(90deg, white, #fff, white);
    /* background-repeat: no-repeat; */
    background-size: 80%;
    animation: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  


   .skip a:focus{ 
    top:0;
  }
}


















